.content-header
  .container
    .content-header__inner
      %h1.content-header__title 新規メモ作成
%form.memo-form(action="/#{@id}" method="post")
  %input(type="hidden" name="_method" value="patch")/
  .container
    .memo-form__inner
      %label.memo-form__label
        タイトル
      %input.memo-form__text-input(type="text" name="title" value =@title)
      %label.memo-form__label
        メモ
      %textarea.memo-form__textarea{:name => "content",:cols => "50",:rows => "20", }
        =@content
      %input.memo-form__submit(type="submit" value="更新")
