!!!
%html(lang="ja")
  %head
    %meta(charset="UTF-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
    %title Document
  %body
    %h1 編集ページ

    %form(action="/#{@id}" method="post")
      %input(type="hidden" name="_method" value="put")/
      タイトル:
      %br/
      %input(type="text" name="title" value=@title)/
      %br/
      メモ:
      %br/
      %textarea{:name => "content",:cols => "50",:rows => "20" }
        =@content
      %br/
      %input(type="submit" value="更新")/