.content-header
  .container
    .content-header__inner
      %h1.content-header__title memoapp

.memos
  .container
    %ul.memos__items
      - @file_names.each do |f|
        %li.memos__item
          %a.memos__item-title(href="/#{f}")=extract_title("#{f}")
          %form.memos__item-actions{method:"post", action: "/#{f}", name: "_delete"}
            %a.memos__item-action.is-edit(href="/#{f}/edit")
              %i.fa.fa-edit
            %input{type: "hidden", name: "_method", value:"DELETE"}
            %button.memos__item-action.is-delete{type: "submit"}
              %i.fas.fa-trash-alt

