!!!
%html(lang="ja")
  %head
    %meta(charset="UTF-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
    %title 一覧ページ
  %body
    %h1 一覧ページ
    %a(href="/new")新規メモ作成
    %br
    %br
    - @file_names.each do |f|
      %p
      %a(href="/#{f}")=extract_title("#{f}")
      %p  
        %form{method:"post", action: "/#{f}", name: "_delete"}
          %a(href="/#{f}/edit")編集
          %input{type: "hidden", name: "_method", value:"DELETE"}
          %input{type: "submit", value: "削除"}
