!!!
%html(lang="ja")
  %head
    %meta(charset="UTF-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
    %title 一覧ページ
    %link{href: "/application.css", media: "all", rel: "stylesheet"}
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.2.0/css/all.css", :integrity => "sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Baloo+Bhai", :rel => "stylesheet"}
  %body
    %header.header
      .container
        .header__inner
          %a.header__logo(href="/") memoapp
          %a.header__new(href="/new")
            %i.fas.fa-plus
            新規メモ作成
    .content    
      != yield
