!!!
%html(lang="ja")
  %head
    %meta(charset="UTF-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
    %title Document
  %body
    %h1 メモ新規作成ページ

    %form(action="/" method="post")
      タイトル:
      %br/
      %input(type="text" name="title")/
      %br/
      メモ:
      %br/
      %textarea{:name => "content",:cols => "50",:rows => "20", }
      %br/
      %input(type="submit" value="保存")/