.content-header
  .container
    .content-header__inner
      %h1.content-header__title 新規メモ作成
%form.memo-form(action="/" method="post")
  .container
    .memo-form__inner
      %label.memo-form__label
        タイトル
      %input.memo-form__text-input(type="text" name="title")
      %label.memo-form__label
        メモ
      %textarea.memo-form__textarea{:name => "content",:cols => "50",:rows => "20", }
      %input.memo-form__submit(type="submit" value="保存")
      