!!!
%html(lang="ja")
  %head
    %meta(charset="UTF-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
    %title 詳細ページ
  %body
    %h1 詳細
    = @title
    %br/
    = nl_to_br(@content)
    %p
      %a(href="/#{@id}/edit") 編集
      %a(href="/") 一覧へ戻る
